<h1>
  微博热搜-日榜（<%= date %>）
</h1>

<blockquote>
  <p>
    本榜单时间：<%= startTime %> ~ <%= endTime %>
  </p>
</blockquote>

<p>
  <a href="https://github.com/daifee/weibo-hot-search/tree/main/archives/daily">历史榜单</a>
</p>


<h2>
  热榜
</h2>

<ol>
  <% band_list.forEach(function(item){ %>
    <%- include('hot-search-item', {item: item}); %>
  <% }); %>
</ol>


<h2>
  正能量
</h2>

<ol>
  <% hotgov_list.forEach(function(item){ %>
    <%- include('gov-item', {item: item}); %>
  <% }); %>
</ol>
